body {
  margin: 0;
  padding: 0;
}

.page {
  width: auto;
  margin: 0;
  background-color: black;
  background-size: cover;
  color: rgba(197,230,247,255);
  justify-content: center;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 0, 0.096);
}
.header__image {
  background-image: linear-gradient(
      0deg,
      rgba(0, 88, 0, 0.74),
      rgba(0, 59, 0, 0.301)
    ),
    url(./images/petropolistiavivian.jpg);
  background-position: center;
  width: 100%;
}

.header__heading {
  padding-top: 50px;
  color: rgba(197,230,247,255)
}

.header__description {
  padding-left: 20px;
  padding-right: 20px;
}

.section__title {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgba(197,230,247,255);
  border-right: transparent;
  border-left: transparent;
  margin-left: 20px;
  margin-right: 20px;
}

.portfolio {
  justify-content: center;
}

.portfolio__cards {
  display: grid;
  margin: auto;
  padding: 0;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 17px;
  row-gap: 20px;
  width: 100%;
  max-width: 880px;
  justify-content: center;
}

.portfolio__card {
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(197,230,247,255);
  border-radius: 20px;
  background-image: url();
}

.portfolio__card--aroundtheus {
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(197,230,247,255);
  border-radius: 20px;
  background-image: url(./images/aroundtheuscardimg.png);
  background-position: center;
}

.portfolio__card--title {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 50, 0, 0.7);
  padding-top: 15px;
  padding-bottom: 15px;
}

.portfolio__card--link {
  color: rgba(197,230,247,255);
  text-decoration: none;
}

.portfolio__card--link:hover {
  color: rgba(197,230,247,255);
  text-decoration: none;
  transform: scale(1.1);
  transition: 0.5s;
}

.portfolio__card--link:active {
  color: rgba(197,230,247,255);
  text-decoration: none;
}

.about {
  /*I don't have anything to put here yet*/
}

.about__paragraph {
  padding-left: 10%;
  padding-right: 10%;
}

.profile-image__Vivien-Brown {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 20px;
  margin-right: 25px;
  margin-bottom: 9px;
  margin-left: 10%;
}

.footer__paragraph {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  padding-bottom: 60px;
}
